<a href="https://colab.research.google.com/github/MKhromina/test_task/blob/main/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_1_%D0%B2%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5_%D0%B2_%D0%BC%D0%BE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

В файле (Практика_1) представлены данные о средней заработной плате и населению РФ по регионам на 1 января 2019 год по данным Росстата. Представим ситуацию, что из-за невнимательности операциониста, регионы: Магаданская обл., г. Санкт-Петербург, Тульская область оказались не представлены в итоговой сводке.
Роль невнимательного операциониста придется исполнить Вам (нужно удалить данные по указанным регионам) и удалить данные по населению, а далее работать уже с новой выборкой, сохранив ее в формат CSV.

In [1]:
# подключение библиотек
from google.colab import files
import numpy as np
import pandas as pd

In [2]:
data=files.upload()

Saving Практика_1.csv to Практика_1 (1).csv

In [3]:
data = pd.read_csv("Практика_1.csv")

In [4]:
# метод .head() позволяет просмотреть "шапку" данных
data.head()

               Region_RU           Region_EN  ...  Population  Unnamed: 4
0         Алтайский край        Altai Region  ...      218866         NaN
1       Амурская область         Amur Region  ...      793194         NaN
2  Архангельская область  Arkhangelsk Region  ...     1144119         NaN
3   Астраханская область    Astrakhan Region  ...     1014065         NaN
4   Белгородская область     Belgorod Region  ...     1547418         NaN

[5 rows x 5 columns]

In [5]:
# для вывода данных определенной колонки следует указать ее имя следующим образом:
data['Region_RU']

0            Алтайский край
1          Амурская область
2     Архангельская область
3      Астраханская область
4      Белгородская область
              ...
80     Чеченская Республика
81     Чувашская Республика
82             Чукотский АО
83        Ямало-Ненецкий АО
84      Ярославская область
Name: Region_RU, Length: 85, dtype: object

In [6]:
# пример удаление строк данных по индексу с последующим выводом
data.drop(0)

                Region_RU  ... Unnamed: 4
1        Амурская область  ...        NaN
2   Архангельская область  ...        NaN
3    Астраханская область  ...        NaN
4    Белгородская область  ...        NaN
5        Брянская область  ...        NaN
..                    ...  ...        ...
80   Чеченская Республика  ...        NaN
81   Чувашская Республика  ...        NaN
82           Чукотский АО  ...        NaN
83      Ямало-Ненецкий АО  ...        NaN
84    Ярославская область  ...        NaN

[84 rows x 5 columns]

In [7]:
# пример удаление строк данных по списку индексов с последующим выводом
data.drop([0,1,2,3])

                Region_RU  ... Unnamed: 4
4    Белгородская область  ...        NaN
5        Брянская область  ...        NaN
6    Владимирская область  ...        NaN
7   Волгоградская область  ...        NaN
8     Вологодская область  ...        NaN
..                    ...  ...        ...
80   Чеченская Республика  ...        NaN
81   Чувашская Республика  ...        NaN
82           Чукотский АО  ...        NaN
83      Ямало-Ненецкий АО  ...        NaN
84    Ярославская область  ...        NaN

[81 rows x 5 columns]

In [8]:
data

                Region_RU  ... Unnamed: 4
0          Алтайский край  ...        NaN
1        Амурская область  ...        NaN
2   Архангельская область  ...        NaN
3    Астраханская область  ...        NaN
4    Белгородская область  ...        NaN
..                    ...  ...        ...
80   Чеченская Республика  ...        NaN
81   Чувашская Республика  ...        NaN
82           Чукотский АО  ...        NaN
83      Ямало-Ненецкий АО  ...        NaN
84    Ярославская область  ...        NaN

[85 rows x 5 columns]

Роль невнимательного операциониста

In [9]:
data_new = data[(data['Region_RU'] != 'Магаданская обл') & (data['Region_RU'] != 'г Санкт-Петербург') & (data['Region_RU'] != 'Тульская область') ]

In [10]:
data_new

                Region_RU  ... Unnamed: 4
0          Алтайский край  ...        NaN
1        Амурская область  ...        NaN
2   Архангельская область  ...        NaN
3    Астраханская область  ...        NaN
4    Белгородская область  ...        NaN
..                    ...  ...        ...
80   Чеченская Республика  ...        NaN
81   Чувашская Республика  ...        NaN
82           Чукотский АО  ...        NaN
83      Ямало-Ненецкий АО  ...        NaN
84    Ярославская область  ...        NaN

[82 rows x 5 columns]

Определите выборочное среднее заработной платы:

In [11]:
data_new['AVG_Salary'].mean() # Выборочное среднее

37887.78048780488

Определите выборочную медиану  заработной платы:

In [12]:
data_new['AVG_Salary'].median() # Выборочная медиана  Me

32319.5

Определите оценку дисперсии  заработной платы:

In [13]:
data_new['AVG_Salary'].var(ddof = 0)# Оценка дисперсии S^2 (0 - смещенная, 1 -несмещённая)

223577820.31766802

Определите оценку среднеквадратического отклонения  заработной платы:

In [14]:
data_new['AVG_Salary'].std(ddof = 0)# Среднеквадратическое отклонение  σ

14952.518861973324